p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Boxes and exercises */
/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/

/* Make sure that images are rescaled to 100% instead of fixed size */
div.inline-figure img {
  width: 100%;
}

/* Style properties for exercise */
div.exercise {
  background-color: #fef9f1;
  /*box-shadow: 0 0 3px 2px #fcedd7;*/
  background-image: url("img/exercise.svg");
  padding: 1em 1em 1em 3em;
  /* specify the image properties */
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  background-size: 2em;
  margin: 10px;
  color: black;
}

/*---- "details" element ----*/
/* usually used for exercise answers */

details {
  padding: .5rem 1rem;
}

details summary {
  cursor: pointer;
  font-weight: bold;
}

details summary > * {
  display: inline;
}

/*---- Boxes ---- */
/* at the moment all have same colour, but this can be adjusted in the future */

.box,
.objectives,
.keypoints,
.warning,
.note,
.highlight {
  padding: 1em 1em 1em 3em;
  /* specify the image properties */
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  background-size: 2em;
  margin: 10px;
  background-color: #f7f8fa;
  color: black;
}

.warning:before,
.note:before,
.highlight:before {
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.objectives {
  background-color: #d2e4f3;
  background-image: url("img/warning.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg */
}

.keypoints {
  background-color: #d2e4f3;
  background-image: url("img/warning.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg */
}

.warning {
  background-color: #fff6f5;
  /*box-shadow: 0 0 3px 2px #fce4e1;*/
  background-image: url("img/warning.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg */
}

.note {
  background-color: #ebebf2;
  color: #1b1b1b;
  /*box-shadow: 0 0 3px 2px #ebebf2;*/
  background-image: url("img/note.svg"); /*https://fonts.gstatic.com/s/i/materialiconsoutlined/info/v15/24px.svg*/
}

.highlight {
  background-image: url("img/highlight.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/tips_and_updates/v1/24px.svg */
  border-left: 10px solid #e87722;
}

.box {
  padding-left: 1em;
}

